/* Container Properties */
.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 40px;
  }

/* Form Centering */
.center-form{
    padding-top: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
}

/* Logo CSS */
#logo{
    display: flex;
    margin: 0 auto;
    width: auto;
    height: 90px;
    justify-content: center;
    background-color: rgb(217, 159, 217);
    padding: 5px 5px 5px 5px;
}

/* Body / Utilities*/
body{
    background-color: rgb(199, 241, 243)
}

h1{
    font-weight: bolder;
    color: rgb(10, 10, 52);
    text-align: center;
}

h1::after {
    content: " - Abracadabra🐱‍🏍";
  }

p{
    font-weight: bold;
    color: rgb(80, 37, 221);
    text-align: center;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 24px;
}

/* Footer */
.footer{
    display: flex;
    position:fixed;
    width: 100%;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgb(217, 159, 217);
}

/* Add Item Button */
.button{
    display: block;
    margin:auto;
    width: 50%;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: rgb(184, 246, 118);
}

.button:hover{
    background-color: rgb(20, 172, 20);
    transform: scale(1.1);
}

/* Clear Item Button */
.button-clear{
    display: block;
    margin:auto;
    width: 50%;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: rgb(209, 155, 55);
    margin-top: 10px;
}

.button-clear:hover{
    background-color: rgb(237, 123, 82);
    transform: scale(1.1);
}

@media(max-width: 768px) {
    .grid,
    .hero .grid,
    .stats .grid,
    .testimonial .grid,
    .cta .grid {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
    .hero {
      height: auto;
    }
    .hero-text {
      background-color: rgba(255,255,255,0.2);
      text-align: center;
      margin-top: 40px;
    }

    .testimonial .grid > *:first-child {
      grid-column: 1;
      grid-row: 1;
    }
  }

  /* Phone device */

  @media(max-width: 500px) {
    .navbar {
      height: auto;
    }
    .navbar .flex {
      flex-direction: column;
    }
    .navbar ul {
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  /* Further Media Queries */
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }

  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }